header{
    position: sticky;
    top: 0;
    width: 100%;
    height: .5rem;
    display: flex;
    justify-content: center;
    z-index: 1;

    & div{
        width: 4rem;
        height: 100%;
    }
}
 .green{
    background-color: var(--green);
 }

 .white{
    background-color: var(--white)
 }

 .red{
    background-color: var(--red)
 }

 .column{
   display: flex;
   flex-direction: column;
 }

 .column-mobile{
   display: flex;
   flex-direction: column;
 }

 .header{
   align-items: center;
   text-align: center;
   

   & img{
      width: 40%;
      background-size: cover;
   }

   & .icons{
      text-align: left;

   }

 }

 #promo{
   background-image: url(../assets/images/bg-pizza.PNG);
   background-position: 90% 50%;
   background-size: cover;
   position: relative;
 }

 .promo-day{
   padding: 5rem 0;
   position: relative;
 }

 .modal{
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.5);
   position: absolute;
 }

 .social-footer{
   justify-content: space-between;
 }

 #social-media{
   gap: .5rem;
   
   & i{
      font-size: 2rem;
      cursor: pointer;
      color: var(--blue);
   }

   & i:hover{
      color: var(--red);
   }
 }

 @media(width >=1280px){
   #logo{
      width: 15%;
   }

   .column-mobile{
      display: flex;
      flex-direction: row;
      gap: 1rem;
   }
 }