.box-menu{
    width: 1fr;
    padding: .5rem;
    margin-top: 1rem;
    background-color: #1a1a1a;
    border-radius: 1rem;

    & img{
        border-radius: .5rem;
        width: 100%;
        height: 11.25rem;
        background-position: 50%;
        background-size: cover;
    }
}

@media(width >= 1280px){
    .menu{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        gap: 1rem;
    }
}