.container{
    --max-width: 375px;
    width: min(var(--max-width),100% - var(--px-lg)*2);
    margin-inline: auto;
}

.desktop-only{
    display: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.gap-1{
    gap: 1rem;
}

h1,h2,h3{
    font-weight: var(--fw-bold);
}

h1{
    font-size: var(--fs-2xl);
}

h2{
    font-size: var(--fs-xl);
}

h3{
    font-size: var(--fs-lg);
}

p{
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
}

span{
    font-size: var(--fs-sm);
    font-weight: var(--fw-base);
}

.value{
    color: var(--green);
}

.discount{
    color: var(--red);
}

i{
    font-size: 1.5rem;
    color: var(--text-primary);
}