.container{
    --max-width: 375px;
    width: min(var(--max-width),100% - var(--px-lg)*2);
    margin-inline: auto;
}

.py-xl{
    margin-top: var(--py-xl);
}

.py-lg{
    margin-top: var(--py-lg);
}

.py-base{
    margin-top: var(--py-base);
}

.py-sm{
    margin-top: var(--py-sm);
}

.desktop-only{
    display: none;
}

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
}

.gap-xl{
    gap: 2rem;
}

.gap-1{
    gap: 1rem;
}

.gap-sm{
    gap: .5rem;
}

h1,h2{
    font-weight: var(--fw-bold);
}

h1{
    line-height: normal;
    font-size: var(--fs-2xl);
    letter-spacing: .25rem;
}

h2{
    font-size: var(--fs-xl);
}

h3{
    font-size: var(--fs-lg);
    letter-spacing: .5rem;
    font-weight: 300;
}

.h3{
    font-size: var(--fs-lg);
    font-weight: 600;
}

.old{
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
}

p{
    font-size: var(--fs-base);
    font-weight: var(--fw-base);
}

span{
    font-size: var(--fs-sm);
    font-weight: var(--fw-base);
    display: inline-block;
}

strong{
    cursor: pointer;
    color: var(--blue);
}

strong:hover{
    color: var(--red);
}

.value{
    color: var(--green);
}

.discount{
    color: var(--red);
}

i{
    font-size: 1.25rem;
    color: var(--text-primary);
}

.pdd-section{
    padding: var(--py-xl) 0 ;
}

@media(width >= 768px){
    .container{
       --max-width: 768px;
       width: min(var(--max-width),100% - var(--px-lg)*2);
       margin-inline: auto;
   }

    .desktop-only{
       display: initial;
   }

   h3{
       font-size: var(--fs-lg);
       letter-spacing: 1rem;
       font-weight: 300;
   }
}

@media(width >= 1280px){
     .container{
        --max-width: 1280px;
        width: min(var(--max-width),100% - var(--px-lg)*2);
        margin-inline: auto;
    }

     .desktop-only{
        display: initial;
    }

    h3{
        font-size: var(--fs-lg);
        letter-spacing: 1rem;
        font-weight: 300;
    }
}